{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="mt-5 row">
    <div class="col-3">
        <a href="{{ path('address') }}" class="btn btn-primary mb-2">Adresse de livraison</a>
        <a href="{{ path('orders') }}" class="btn btn-primary mb-2">Mes commandes</a>
    </div>
</div>
{% endblock %}