{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="mt-5 d-flex flex-column">
    <div class="col-3">
        <a href="{{ path('new_product') }}" class="btn btn-primary mb-3">Ajouter un produit</a>
        <a href="{{ path('new_category') }}" class="btn btn-primary mb-3">Ajouter une catégorie</a>
        <a href="{{ path('see_orders') }}" class="btn btn-primary mb-3">Voir les commandes</a>
        <a href="{{ path('see_users') }}" class="btn btn-primary mb-3">Voir les utilisateurs</a>
    </div>
</div>
{% endblock %}
